/*SHOP - HOME*/

.countdown .image img {
    width: 850px;
    height: 510px;
}
img.custom-image-product {
    width: 100%;
    height: 600px;
}
.hero-slider .single-slider {
    background-image: url('../images/labs/lab_01.jpg') !important;
    
}
.single-slider.zoom {
    transition: transform .9s;
}

    .single-slider.zoom:hover {
        -ms-transform: scale(1.5);
        webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

.pagination > li.active {
    
    background: #167DCC;
    color: white;
    cursor :pointer ;
}