
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Share/LayoutLogin.cshtml";
}

<section class="form-input py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-12 text-center">
                <img width="80%" src="~/Assets/shop/images/labs/login_start.jpg" alt="" />
            </div>
            <div class="col-lg-5 col-md-5 col-12">
                <div class="h-100 d-flex align-items-center">
                    <form class="m-0 p-5 text-center">
                        <h5 class="mb-4">Đổi Mật Khẩu</h5>
                        <input class="w-100 mb-3" type="password" placeholder="Mật khẩu cũ" />
                        <input class="w-100 mb-3" type="password" placeholder="Mật khẩu mới" />
                        <input class="w-100 mb-4" type="password" placeholder="Xác nhận lại mật khẩu mới" />
                        <button class="next w-100 mb-3">Xác nhận</button>
                        <span class="shotcut">
                            <a class="mr-3" href="login.html">Đăng nhập?</a>
                            <a href="register.html">Đăng ký?</a>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

