@model Hoa_Chat_Thi_Nghiem_ASP_NET_MVC.Models.ForgotPassCustomerModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Share/LayoutLogin.cshtml";
}

<section class="form-input py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-12 text-center">
                <img width="80%" src="~/Assets/shop/images/labs/login_start.jpg" />
            </div>
            <div class="col-lg-5 col-md-5 col-12">
                <div class="h-100 d-flex align-items-center">
                    @using (Html.BeginForm("forgotPasswordCustomer", "Account", FormMethod.Post,
                        new { @class = "m-0 p-5 text-center" }))
                    {
                        @*<form class="m-0 p-5 text-center" action="">*@
                        <h5 class="mb-4">Quên Mật Khẩu</h5>
                        @Html.ValidationMessage("", new { @class = "text-danger notification-error" });
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger notification-error" })
                        @Html.TextBoxFor(model => model.email, new

                   {
                       @class = "w-100 mb-4 input-login-field",
                       @autofocus = "autofocus",
                       @placeholder = "Email",
                       @type = "email"
                   })
                        @*<input class="w-100 mb-4" type="username" placeholder="Email">*@
                        <button type="submit" class="next w-100 mb-3">Xác nhận</button>
                        <span class="shotcut">
                            <a class="mr-3" href="/Account/Login">Đăng nhập?</a>
                            <a href="/Account/Register">Đăng ký?</a>
                        </span>
                        @*</form>*@
                    }
                </div>
            </div>
        </div>
    </div>
</section>

